<%- include('header'); -%>

  <div class="home-text">
    <h5 class="home-inner-text">Task 1 : BASIC BANKING SYSTEM</h5>
    <h1 class="home-inner-text"><i>Transfer Money Easily</i></h1>
    <p >Jay Gandhi</p>
    <a href="/all_cust" role="button" class="btn btn-success btn-lg home-btn">Get Started</a>
  </div>
  <div>
    <img class="home-img" src="images/home.png" alt="image"  width="55%">
  </div>

  <%- include('footer'); -%>

